<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASM02_ShoppingWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="background-color: blue;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="text-light navbar-brand" asp-area="" asp-page="/ProductCustomer/Index">PizzasStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="justify-content: start;">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/ProductCustomer/Index">Pizzas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Category 1</a></li>
                                <li><a class="dropdown-item" href="#">Category 2</a></li>
                                <li><a class="dropdown-item" href="#">Category 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Reviews</a>
                        </li>
                    </ul>

                    <!-- Phần này để kiểm tra người dùng đã đăng nhập chưa -->
                    <ul class="navbar-nav flex-grow-1" style="justify-content: end;">
                        @if (Context.Session.GetString("FullName") != null)
                        {
                            <!-- Hiển thị tên người dùng và nút logout -->
                            <li class="nav-item">
                                
                                @if (Context.Session.GetString("FullName").Contains("Admin"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-page="/ProductManage/Index">Hello, @Html.Encode(Context.Session.GetString("FullName"))</a>
                                }
                                else{
                                    <span class="nav-link text-light">Hello, @Html.Encode(Context.Session.GetString("FullName"))</span>
                                    }
                                </li>
                            <li class="nav-item">
                                <a class="nav-link text-light"  asp-page="/UserPage/ProfileUser" asp-route-id="@Context.Session.GetString("UserId")">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-page="/UserPage/ViewOrderHistory" asp-route-id="@Context.Session.GetString("UserId")">Order History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Auth/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <!-- Hiển thị tùy chọn login và register nếu chưa đăng nhập -->
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Auth/Signup">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Auth/Index">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ASM02_ShoppingWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
